<!-- app.component.html -->

<nav class="bg-black">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a href="#" class="text-white font-bold text-lg">Appetite UI</a>
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <a href="/restaurants" class="text-white hover:text-yellow-300"
            >Restaurants</a
          >
          <a href="#" class="text-white hover:text-yellow-300">Orders</a>
          <a href="#" class="text-white hover:text-yellow-300">Profile</a>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button
          (click)="toggleNavbar()"
          type="button"
          class="bg-primary-dark inline-flex items-center justify-center p-2 rounded-md text-white hover:text-yellow-300 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Open main menu</span>
          <!-- Heroicon name: menu -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="md:hidden" *ngIf="isNavbarOpen">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        href="#"
        class="text-white block px-3 py-2 rounded-md text-base font-medium"
        >Home</a
      >
      <a
        href="#"
        class="text-white block px-3 py-2 rounded-md text-base font-medium"
        >About</a
      >
      <a
        href="#"
        class="text-white block px-3 py-2 rounded-md text-base font-medium"
        >Contact</a
      >
    </div>
  </div>
</nav>
