<!-- Restaurant Header -->
<div *ngIf="restaurantName" class="mb-10">
  <div
    class="bg-gray-800 text-white shadow-md p-4 md:p-6 flex items-center justify-between h-24 rounded-b-md"
  >
    <div class="flex items-center">
      <h1 class="text-2xl md:text-3xl font-bold mb-1 truncate">
        {{ restaurantName }}
      </h1>
    </div>
    <div class="flex items-center">
      <img
        [src]="restaurantImage"
        alt="{{ restaurantName }}"
        class="w-10 h-10 object-cover rounded-lg mr-4"
      />
      <button (click)="toggleDetails()" class="text-white focus:outline-none">
        <svg
          class="w-6 h-6 transform transition-transform duration-300 ease-in-out"
          [ngClass]="{ 'rotate-180': detailsExpanded }"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 9l-7 7-7-7"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="bg-black text-white rounded-b-lg shadow-md overflow-hidden transition-all duration-500 ease-in-out"
    [ngStyle]="{
      'max-height': detailsExpanded ? '300px' : '0',
      opacity: detailsExpanded ? 1 : 0,
      padding: detailsExpanded ? '1rem 1.5rem' : '0 1.5rem'
    }"
  >
    <div
      class="transition-opacity duration-300"
      [ngStyle]="{ opacity: detailsExpanded ? 1 : 0 }"
    >
      <p class="text-gray-400 text-sm">{{ restaurantAddress }}</p>
      <p class="text-gray-400 text-sm">Cuisine: {{ restaurantCuisine }}</p>
      <p class="text-gray-400 text-sm">
        Price Range: {{ restaurantPriceRange }}
      </p>
      <p class="text-gray-400 text-sm">
        Preparation Time: {{ restaurantPreparationTime }} minutes
      </p>
    </div>
  </div>
</div>
