<div
  class="bg-white p-6 rounded-lg shadow-md"
  (click)="redirectToSpecificRestaurant()"
>
  <img
    [src]="restaurant.image_path"
    alt="{{ restaurant.name }}"
    class="w-full h-32 object-cover rounded-lg mb-4"
  />
  <h3 class="text-lg font-semibold text-gray-800">{{ restaurant.name }}</h3>
  <p class="text-sm text-gray-600">{{ restaurant.address }}</p>
  <p class="text-sm text-gray-600">{{ restaurant.cuisine }}</p>
  <p class="text-sm text-gray-600">{{ restaurant.description }}</p>
  <p class="text-sm text-gray-600">
    Preparation Time: {{ restaurant.preparation_time }} mins
  </p>
  <p class="text-sm text-gray-600">Price Range: {{ restaurant.price_range }}</p>
</div>
