<div
  class="sm:w-72 lg:w-72 md:w-72 w-60 h-90 sm:h-90 md:h-96 lg:h-22.5rem rounded overflow-hidden shadow"
>
  <img
    class="w-full h-48 object-cover"
    [src]="restaurant.image"
    alt="Sunset in the mountains"
  />
  <div class="px-4 py-1 h-28">
    <div class="font-bold text-lg mb-1">{{ restaurant.name }}</div>
    <p class="text-gray-700 text-sm">
      {{ restaurant.description }}
    </p>
  </div>
  <div class="px-4 py-4 flex flex-wrap">
    <span
      class="bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"
      >{{ restaurant.cuisine }}</span
    >
    <span
      class="bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"
      >{{ restaurant.preparation_time }}</span
    >
    <span
      class="bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 mr-1 mb-1"
      >{{ restaurant.price_range }}</span
    >
  </div>
</div>
