<div class="create-restaurant-form p-4">
  <h2 class="text-2xl font-bold mb-4">Create New Restaurant</h2>
  <form (ngSubmit)="onSubmit()">
    <app-text-input-field
      label="Name"
      [(value)]="restaurant.name"
      name="name"
      required
    />

    <app-text-area-field
      label="Description"
      [(value)]="restaurant.description"
      name="description"
      required
    ></app-text-area-field>

    <app-text-input-field
      label="Address"
      [(value)]="restaurant.address"
      name="address"
      required
    />

    <app-text-input-field
      label="Preparation Time"
      [(value)]="restaurant.preparation_time"
      name="preparation_time"
      required
    />

    <app-text-input-field
      label="Cuisine"
      [(value)]="restaurant.cuisine"
      name="cuisine"
      required
    />

    <app-text-input-field
      label="Price Range"
      [(value)]="restaurant.price_range"
      name="price_range"
      required
    />

    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Create Restaurant
    </button>
  </form>
</div>
