<div
  class="min-h-screen flex flex-col md:flex-row bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100"
>
  <!-- Sidebar -->
  <!-- Sidebar -->
  <aside
    [ngClass]="{ hidden: !sidebarOpen, block: sidebarOpen, 'md:block': true }"
    class="w-64 bg-white dark:bg-gray-800 shadow-md md:static fixed z-10"
  >
    <div class="p-6">
      <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100">
        Admin Dashboard
      </h1>
      <button
        class="mt-4 md:hidden text-gray-600 dark:text-gray-300"
        (click)="toggleSidebar()"
      >
        Close
      </button>
      <button
        class="mt-4 text-gray-600 dark:text-gray-300"
        (click)="toggleDarkMode()"
      >
        Toggle Dark Mode
      </button>
      <button
        class="mt-4 text-gray-600 dark:text-gray-300"
        (click)="redirectToDashboard()"
      >
        Go to Dashboard
      </button>
    </div>
    <nav class="mt-6">
      <button
        (click)="redirectToOrders()"
        routerLinkActive="bg-gray-200 dark:bg-gray-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md"
      >
        Orders
      </button>
      <button
        (click)="redirectToRestaurant()"
        routerLinkActive="bg-gray-200 dark:bg-gray-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md"
      >
        Restaurant
      </button>
      <button
        (click)="redirectToMenu()"
        routerLinkActive="bg-gray-200 dark:bg-gray-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md"
      >
        Menu
      </button>
      <a
        routerLink="/auth/login"
        routerLinkActive="bg-gray-200 dark:bg-gray-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md"
      >
        Logout
      </a>
    </nav>
  </aside>

  <!-- Main content -->
  <div
    class="flex-1 p-4 md:p-10 bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100"
  >
    <div class="flex justify-between items-center md:hidden">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100">
        Dashboard
      </h2>
      <button
        class="text-gray-600 dark:text-gray-300"
        (click)="toggleSidebar()"
      >
        Menu
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
