<!-- Search Bar -->
<div class="flex justify-center my-5">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>
</div>

<!-- Filtering Section -->
<div class="flex justify-center items-center my-5">
  <div class="flex flex-wrap items-center space-x-3">
    <!-- Filter by Rating -->
    <div>
      <select
        id="rating"
        [(ngModel)]="selectedRating"
        (change)="filterByRating()"
        class="p-2 border border-gray-300 rounded"
      >
        <option value="">All Ratings</option>
        <option *ngFor="let rating of ratings" [value]="rating">
          {{ rating }}+
        </option>
      </select>
    </div>

    <!-- Filter by Cuisine -->
    <div>
      <select
        id="cuisine"
        [(ngModel)]="selectedCuisine"
        (change)="filterByCuisine()"
        class="p-2 border border-gray-300 rounded"
      >
        <option value="">All Cuisines</option>
        <option *ngFor="let cuisine of cuisines" [value]="cuisine.value">
          {{ cuisine.display }}
        </option>
      </select>
    </div>

    <!-- Reset Filters Button -->
    <div>
      <button
        (click)="resetFilters()"
        class="p-2 bg-blue-500 text-white rounded"
      >
        Reset Filters
      </button>
    </div>
  </div>
</div>

<!-- Restaurants Section -->
<div class="flex justify-center p-5">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full"
  >
    <div *ngFor="let restaurant of filteredRestaurants">
      <div
        class="hover:transform hover:scale-105 transition-transform duration-300"
      >
        <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
      </div>
    </div>
  </div>
</div>

<!-- Recently Ordered Section -->
<div class="my-5">
  <h2 class="text-center text-2xl font-bold mb-3">Recently Ordered</h2>
  <div class="flex justify-center p-5">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full"
    >
      <div *ngFor="let restaurant of recentlyOrderedRestaurants">
        <div
          class="hover:transform hover:scale-105 transition-transform duration-300"
        >
          <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Recommended Section -->
<div class="my-5">
  <h2 class="text-center text-2xl font-bold mb-3">Recommended</h2>
  <div class="flex justify-center p-5">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full"
    >
      <div *ngFor="let restaurant of recommendedRestaurants">
        <div
          class="hover:transform hover:scale-105 transition-transform duration-300"
        >
          <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
        </div>
      </div>
    </div>
  </div>
</div>
