<div class="container mx-auto p-4">
  <app-restaurant-header-box
    [restaurantId]="restaurantId"
    [restaurantName]="restaurantName"
    [restaurantDescription]="restaurantDescription"
    [restaurantPriceRange]="restaurantPriceRange"
    [restaurantCuisine]="restaurantCuisine"
    [restaurantAddress]="restaurantAddress"
    [restaurantImage]="restaurantImage"
    [restaurantPreparationTime]="restaurantPreparationTime"
    [restaurantRating]="restaurantRating"
  ></app-restaurant-header-box>

  <div>
    <app-menu-filter
      (filterChanged)="applyCategoryFilter($event)"
    ></app-menu-filter>
  </div>

  <div class="mt-4 p-2">
    <label for="searchQuery" class="text-gray-700 font-bold">Search Menu</label>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search menu items"
      class="w-full px-4 py-2 mt-1 mb-6 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
      (input)="filterMenuItemsBySearch()"
    />
  </div>

  <!-- <app-menu-section
    [menuItems]="menuItems"
    (quantityChange)="handleQuantityChange($event)"
  ></app-menu-section> -->

  <!-- Get the filteredMenu -->
  <app-menu-section
    [menuItems]="filteredMenuItems"
    (quantityChange)="handleQuantityChange($event)"
  ></app-menu-section>

  <app-cart-button></app-cart-button>

  <app-cart-section
    [menuItems]="menuItems"
    (quantityChange)="handleQuantityChange($event)"
  ></app-cart-section>

  <app-order-button (order)="getOrderedItems()"></app-order-button>

  <app-toast
    [show]="showToast"
    [message]="toastMessage"
    [type]="toastType"
  ></app-toast>

  <app-email-modal
    [show]="showModal"
    (close)="handleModalClose()"
    (submitOrderDetails)="handleOrderDetailsSubmit($event)"
  ></app-email-modal>
</div>
