<div
  class="min-h-screen flex flex-col md:flex-row bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100"
>
  <!-- Sidebar -->
  <aside
    [ngClass]="{ hidden: !sidebarOpen, 'md:block': true }"
    class="w-64 bg-white dark:bg-gray-800 shadow-md md:static fixed z-10"
  >
    <div class="p-6">
      <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100">
        Admin Dashboard
      </h1>
      <button
        class="mt-4 md:hidden text-gray-600 dark:text-gray-300"
        (click)="toggleSidebar()"
      >
        Close
      </button>
      <button
        class="mt-4 text-gray-600 dark:text-gray-300"
        (click)="toggleDarkMode()"
      >
        Toggle Dark Mode
      </button>
    </div>
    <nav class="mt-6">
      <a
        routerLink="/admin/restaurants"
        routerLinkActive="bg-orange-100 dark:bg-orange-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md transition-colors duration-200 hover:bg-orange-200 dark:hover:bg-orange-600"
        >Restaurants</a
      >
      <a
        routerLink="/admin/settings"
        routerLinkActive="bg-orange-100 dark:bg-orange-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md transition-colors duration-200 hover:bg-orange-200 dark:hover:bg-orange-600"
        >Settings</a
      >
      <a
        routerLink="/admin/profile"
        routerLinkActive="bg-orange-100 dark:bg-orange-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md transition-colors duration-200 hover:bg-orange-200 dark:hover:bg-orange-600"
        >Profile</a
      >
      <a
        routerLink="/auth/login"
        routerLinkActive="bg-orange-100 dark:bg-orange-700"
        class="block px-4 py-2 mt-2 text-sm text-gray-600 dark:text-gray-300 rounded-md transition-colors duration-200 hover:bg-orange-200 dark:hover:bg-orange-600"
        >Logout</a
      >
    </nav>
  </aside>

  <!-- Main content -->
  <div
    class="flex-1 p-4 md:p-10 bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100"
  >
    <div class="flex justify-between items-center md:hidden">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100">
        Dashboard
      </h2>
      <button
        class="text-gray-600 dark:text-gray-300"
        (click)="toggleSidebar()"
      >
        Menu
      </button>
    </div>

    <!-- Conditional Content based on Login State -->
    <ng-container *ngIf="isLoggedIn() && isRestaurant(); else notLoggedIn">
      <router-outlet></router-outlet>
    </ng-container>

    <ng-template #notLoggedIn>
      <div class="text-center mt-8">
        <p class="text-xl font-semibold text-gray-700 dark:text-gray-100">
          Log in to start admin panel.
        </p>
        <a
          routerLink="/auth/login"
          class="text-orange-500 hover:text-orange-600"
        >
          Log In
        </a>
      </div>
    </ng-template>
  </div>
</div>
