<div *ngIf="restaurant" class="restaurant-details p-4">
  <h2 class="text-2xl font-bold mb-4">Edit Restaurant Details</h2>
  <!-- Display Original Image -->
  <div *ngIf="restaurant.image_path" class="mb-4">
    <img
      [src]="restaurant.image_path"
      alt="Original Restaurant Image"
      class="mb-2 rounded"
    />
    <p class="text-gray-600">Original Image</p>
  </div>

  <app-text-input-field label="Name" [(value)]="restaurant.name" required />

  <app-text-input-field
    label="Address"
    [(value)]="restaurant.address"
    required
  />

  <app-text-input-field
    label="Cuisine"
    [(value)]="restaurant.cuisine"
    required
  />

  <app-text-area-field
    label="Description"
    [(value)]="restaurant.description"
    required
  />

  <app-text-input-field
    label="Preparation Time (minutes)"
    [(value)]="restaurant.preparation_time"
    required
  />

  <app-text-input-field
    label="Price Range"
    [(value)]="restaurant.price_range"
    required
  />

  <!-- Image Input -->
  <div class="mb-4">
    <label for="image" class="block">New Image:</label>
    <input
      type="file"
      id="image"
      accept="image/*"
      (change)="onImageChange($event)"
      class="w-full border rounded py-2 px-3"
    />
    <div *ngIf="imagePreview" class="mt-2">
      <img
        [src]="imagePreview"
        alt="Restaurant Image"
        class="w-32 h-32 rounded"
      />
    </div>
    <!-- Button to submit the new image -->
    <button
      (click)="submitImage()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
    >
      Save Image
    </button>
  </div>
  <!-- Button to save changes -->
  <button
    (click)="saveChanges()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    Save Changes
  </button>
</div>

<div *ngIf="!restaurant" class="loading p-4">Loading...</div>
