<div *ngIf="restaurant" class="restaurant-details p-4">
  <h2 class="text-2xl font-bold mb-4">Edit Restaurant Details</h2>

  <app-restaurant-header-box
    [restaurantName]="restaurant.name"
    [restaurantDescription]="restaurant.description"
    [restaurantPriceRange]="restaurant.price_range"
    [restaurantCuisine]="restaurant.cuisine"
    [restaurantAddress]="restaurant.address"
    [restaurantImage]="restaurant.image_path"
    [restaurantPreparationTime]="restaurant.preparation_time.toString()"
  ></app-restaurant-header-box>

  <app-text-input-field label="Name" [(value)]="restaurant.name" required />

  <app-text-input-field
    label="Address"
    [(value)]="restaurant.address"
    required
  />

  <app-text-input-field
    label="Cuisine"
    [(value)]="restaurant.cuisine"
    required
  />

  <app-text-area-field
    label="Description"
    [(value)]="restaurant.description"
    required
  />

  <app-text-input-field
    label="Preparation Time (minutes)"
    [(value)]="restaurant.preparation_time"
    required
  />

  <app-text-input-field
    label="Price Range"
    [(value)]="restaurant.price_range"
    required
  />

  <div class="flex flex-col items-center">
    <!-- File input -->
    <input
      type="file"
      (change)="onImageChange($event)"
      accept="image/*"
      class="hidden"
    />

    <!-- Image preview -->
    <img
      *ngIf="imagePreview"
      [src]="imagePreview"
      alt="Image preview"
      class="max-w-full max-h-200px mt-2"
    />

    <!-- Upload button -->
    <button
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-2"
      (click)="saveImage()"
    >
      Upload
    </button>
  </div>

  <app-action-button
    buttonText="Save Changes"
    (buttonClick)="saveChanges()"
  ></app-action-button>

  <app-action-button
    buttonText="Delete Restaurant"
    buttonColor="red-500"
    buttonHoverColor="red-700"
    additionalClasses="my-4"
  ></app-action-button>
</div>

<app-loading *ngIf="!restaurant"></app-loading>
